.request {
    margin-top: 0%;
    width: 100%;
    text-align: center;
    padding-left: 20%;
    padding-right: 40%;
}

.full-width {
    width: 100%;
}

.request-input {
    line-height: 20px;
}

.title {
    margin-left: 80px;
    font-weight: bold;
}

.checkbox {
    margin-top: 3%;
    padding-left: 20%;
    padding-right: 40%;
    font-size: 12px;
}